<mat-grid-list cols="4" rowHeight="400" style="padding: 10px">
  <mat-grid-tile rowspan="4">
    <mat-accordion class="usuario-headers-align">
      <mat-expansion-panel hideToggle="true" *ngFor="let j of usuarios; let i = index" [expanded]="step === i">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{j.nombre}}
          </mat-panel-title>
          <mat-panel-description>
            {{ j.id }}
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Edad: {{j.edad}}
        </p>
        <p>
          Email: {{j.email}}
        </p>
        <p>
          Celular: {{j.celular}}
        </p>
        <p>
          Cedula: {{j.cedula}}
        </p>
        <p *ngIf="j.estado" [ngStyle]="{ 'color': obtenerColor(j.estado)}">Estado: Activo</p>
        <p *ngIf="!j.estado" [ngStyle]="{ 'color': obtenerColor(j.estado)}">Estado: Inactivo</p>
        <button *ngIf="!j.estado" mat-raised-button (click)='activarUsuario(j)' color="primary">Activar</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let j of usuarios; let i = index">
    <mat-card (click)="mostrarDatos(i)" [ngClass]="{ 'usuarioInactivo': !j.estado, 'usuarioActivo':j.estado}"
      class="usuario-card">
      <mat-card-header>
        <div mat-card-avatar class="usuario-header-image"></div>
        <mat-card-title>{{j.nombre}}</mat-card-title>
        <mat-card-subtitle>{{j.email}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://via.placeholder.com/200x200?text=foto+de+jugador">
      <mat-card-actions>
        <button mat-raised-button (click)='desactivar(j)' color="primary" [disabled]="!j.estado">Descativar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>