<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container" style="max-width: 550px">
  <div class="card">
    <h5 class="card-header" style="text-align: center">Compañia Pequeteria</h5>
    <div class="card-body">

      <img mat-card-image src="https://www.maitsa.com/img/customs/paquete-parado-retenido-aduanas-2.png"
        style="max-width: 440px;">
      <br>

      <div class="example-container">

        <div class="card">
          <div class="card-body">

            <div class="form-row">
              <div class="form-group col-md-6">
                <mat-form-field style="width: 90%">
                  <input matInput placeholder="Nombre" required [formControl]='nombre'>
                </mat-form-field>
              </div>

              <div class="form-group col-md-6">
                <mat-form-field style="width: 90%">
                  <mat-label>Cedula</mat-label>
                  <input matInput placeholder="" required [formControl]='cedula'>
                </mat-form-field>
              </div>
            </div>

          </div>
        </div>

        <div class="card">
          <div class="card-body">

            <mat-form-field>
              <mat-label>Zona de envio</mat-label>
              <mat-select required [formControl]='zona'>
                <mat-option value="zona1">América del Norte</mat-option>
                <mat-option value="zona2">América del Sur</mat-option>
                <mat-option value="zona3">América Central</mat-option>
                <mat-option value="zona4">Europa</mat-option>
                <mat-option value="zona5">Asia</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="form-row">
              <div class="form-group col-md-6">
                <mat-form-field>
                  <mat-label>Peso (g)</mat-label>
                  <input matInput placeholder="1" required [formControl]='cantidad'>
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button (click)='calcularPrecio()' color="primary">Consultar</button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Precio de venta</h5>
    <div class="card-body">

      <mat-form-field appearance="outline">
        <mat-label>Cobro de entrega</mat-label>
        <input matInput [readonly]="true" placeholder="0" [formControl]='unidad'>
      </mat-form-field>

    </div>
  </div>
</div>